.nav-menu {
    display: flex;
    flex-direction: row;
    margin-right: 30px;

    .item {
        padding: 0px 20px;
        display: flex;
        justify-content: center;

        .text {
            margin-top: auto;
            margin-bottom: auto;
            vertical-align: center;
        }

        &:hover {
            cursor: pointer;
            color: var(--text-color-hover);
            background-color: var(--bg-color-hover);
        }
    }
}