.home {
    // max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    // margin-top: 16px;  
    .header {
        background-image: url(./starry.jpg);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .title {
        letter-spacing: 10px;
        text-align: center;
        font-size: 12vw;
        color: whitesmoke;
        // margin-top: 10vh;
    }

    .slogan {
        margin-top: 20px;
        font-weight: smaller;
        text-align: center;
        font-size: 30px;
        height: 50px;
    }

    .go-button {
        display: block;
        margin: 20px auto 20px auto;
        background-color: transparent;
        padding: 16px 64px;
        font-size: 20px;
        border: 1px solid var(--color-line);
        color: var(--color-text);

        &:hover {
            cursor: pointer;
            // border: 1px solid gainsboro;
            background: #1668db;
            color: white;
        }
    }
}